@import './my_bulma.scss';

html {
  overflow: auto;
}

.description {
  height: 10vw;
}

#avatar {
  flex-wrap: wrap;
  overflow: auto;
}

.background-img {
  width: 50vw;
  z-index: 0;
}

.population-img {
  width: 15vw;
  z-index: 99;
  position: relative;
  top: -15.5vw;
  left: -17vw;
}
