@import './my_bulma.scss';

html {
  overflow: auto;
}

.description {
  height: 10vw;
}

#avatar {
  flex-wrap: wrap;
  overflow: auto;
}

.background-img {
  width: '50vw';
  position: 'absolute';
  z-index: '0';
  top: '5vw';
  left: '20vw'
}
